@media screen and (max-width:1440px){
	.card{
        width:30%;
    }

    .containerLogin{
        gap: 20px; /*rever*/
        padding: .5em;
        
    }

    .title{
        font-size: 1.5rem; /*(30px)*/
    }


    .subtitle-login{
        font-size: 15px;
        padding: 0;
    }

    .loginEmail, .loginPassword{
        gap: .5em;
    }

    .input-login, .input-login::placeholder{
        font-size: 0.9em;
        padding: 0;
    }
        
    .forgotPassword, .forgotPassword:hover, footer{
        font-size: 13px;
    }

    .button-login, .subtitle{
        font-size: 1em;
    }

    .signLink{ /*Sign Rede sociais*/
        font-size: .85em;
    }

    .signLink:hover{
        font-size: .9em;
    }

    .boxLinks{
        gap: .8rem;
    }

    .icon-image{
        width: 28px;
    }


}

@media  screen and (max-width:1000px) {
    .card{
        width: auto;
    }
}

/*Fazer uma adaptação para o Nest Hub (Alexa)*/