@import url(main.css);
@import url(mediaQ.css);

:root{
    --marsala:#730606F7;
    --black:#000000;
    --white:#FFFFFF;

    --title:'Libre Bodoni', serif;
    --text:'Montserrat', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: var(--text);
    height: 100vh;
}